<!DOCTYPE html>
<html>
	<head>
		<title> Passport Login</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	</head>
	<body>
		{{{messages}}}	
		{{#if errors}}
			{{#each errors}}
				{{msg}}
			{{/each}}
		{{/if}}
		<div class="container">
			{{{body}}}
		</div>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	</body>
</html>